.navbutton{
  background-color: transparent;
  color: #F2542D;
  border: none;
  font-size: 80px;
  font-weight: bolder;
}

.nav{
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
  border-bottom: #F2542D solid 5px;
  margin-left: 50px;
  margin-right: 50px;

}

.logo{
  width: 600px;
  margin-right: 90px;
}

.buttons{
  display: flex;
  flex-direction: column;
  justify-items:right;
  text-align: center;
}

@media (max-width: 1300px) {
  .nav{
    flex-wrap: wrap;
    text-align: center;
  }
  .logo {
    margin: auto;
    width:200px;
  }
.navbutton{
  font-size: 30px;
}
}

@media (max-width: 1300px) {
  .logo {
    width:300px;
  }
.navbutton{
  font-size: 30px;
}
}