.aboutSteak{
    margin-top: 2rem;
    width: 80rem;
    height: 20rem;
    object-fit: cover;
    border-radius: var(--border-radius-md);
}

.aboutContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid var(--color-primary);
    margin-left:6rem;
    margin-right: 6rem;
}

.aboutHeader{
    margin-top: 2rem;
    font-size: 4rem;
    font-weight: bold;
}

.aboutSub{
    width: 80rem;
    font-weight: bold;
    color: #C8C8C8;
    margin-top: -2rem;
    margin-bottom: 2rem;
}

.aboutTeam{
    margin-top: 6rem;
    margin-left: 6rem;
    margin-bottom: 5rem;

}

.pfpleft{
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    margin-right: 2rem;
}

.detailsleft{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 2rem;
    
}

.pfpright{
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    margin-left: 2rem;
}

.detailsright{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-top: 2rem;
    margin-left: 27rem;
    
}

.detailslauren{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-top: 2rem;
    margin-left: 37rem;
    
}

.detailsstokes{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-top: 2rem;
    margin-left: 27rem;
    
}

.detailszk{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-top: 2rem;
    margin-left: 47rem;
    
}
.name{
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: -1rem;
}