body {
    margin: 0;
    font-family: sans-serif;
    background-color: #2d231a;
    color: #fffbe6;
  }
  
  .container {
    text-align: center;
    padding-top: 60px;
  }
  
  .title {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .login-box {
    background-color: #274646;
    margin: 40px auto;
    padding: 30px 50px;
    border-radius: 30px;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #fffbe6;
  }
  
  .login-box label {
    text-align: left;
    font-size: 1.2rem;
    margin-top: 10px;
  }
  
  .login-box input {
    padding: 10px;
    font-size: 1rem;
    border: none;
    margin-bottom: 10px;
  }
  
  .signup-text {
    font-size: 0.9rem;
    color: #d3d3d3;
    margin-top: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
  }
  
  .signup-text a {
    color: #fff;
    text-decoration: none;
  }
  
  .login-button {
    background-color: #c54317;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  