.header{
    color: #FAF8EC;
    text-align: center;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.rest{

}

.singleRest{
    background-color: #F2542D;
}